.home {
    background: white no-repeat center center fixed;
    min-height: 100vh;
    position: relative;
}

/* .landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
} */

/* .splash {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
} */
